.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: black;
}

.logo-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.logo {
  width: 50px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links > * {
  margin-left: 10px;
}

.nav-links > :first-child {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
}